<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iMenu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UserRightFilter</filter-name>
    <filter-class>com.smartmenu.controller.UseRightFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserRightFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.smartmenu.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServiceCharge</servlet-name>
    <servlet-class>com.smartmenu.controller.GetServiceCharge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceCharge</servlet-name>
    <url-pattern>/getServiceCharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMenu</servlet-name>
    <servlet-class>com.smartmenu.controller.GetMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMenu</servlet-name>
    <url-pattern>/getMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetItemSoldoutInfo</servlet-name>
    <servlet-class>com.smartmenu.controller.GetItemSoldoutInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItemSoldoutInfo</servlet-name>
    <url-pattern>/getItemSoldoutInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeNewOrder</servlet-name>
    <servlet-class>com.smartmenu.controller.MakeNewOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeNewOrder</servlet-name>
    <url-pattern>/makeNewOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOrder</servlet-name>
    <servlet-class>com.smartmenu.controller.GetOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrder</servlet-name>
    <url-pattern>/getOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>com.smartmenu.controller.UpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/updateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.smartmenu.controller.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
</web-app>